@* base Template File *@
@(content: Html)

<!DOCTYPE HTML>
<html>
<head>
<title>宁夏华夏川博环保科技公司</title>
<link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet" type="text/css" media="all">
<link href="@routes.Assets.at("css/style.css")" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="无机，高分子，环保，科技，水处理，宁夏，银川，新技术，无磷高效缓蚀阻垢剂，无磷反渗透阻垢剂，复合杀菌灭藻剂，低铝无机高分子絮凝剂，聚硅酸类无机高分子絮凝剂，有机高分子絮凝剂，新型绿色高效水处理药剂，供水，污水，华夏川博" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
<script src="@routes.Assets.at("js/jquery.min.js")"></script>
</head>
<body>
<!-- header -->
<div class="header-top">
</div>
	<div class="container">
		<div class="header">
			<div class="logo">
				<a href="index"><img src="@routes.Assets.at("images/logo.png")" class="img-responsive" alt=""></a>
			</div>
				<div class="head-nav">
					<span class="menu"> </span>
						<ul class="cl-effect-16">
							<li @*class="active"*@><a href="index" data-hover="主页">主页</a></li>
							<li><a href="aboutus" data-hover="关于我们">关于我们</a></li>
							<li><a href="services" data-hover="产品简介">产品简介</a></li>
							@*<li><a href="portfolio" data-hover="SERVICES">portfolio</a></li>
							<li><a href="notfound" data-hover="BLOG">blog</a></li>*@
							<li><a href="contactus" data-hover="联系我们">联系我们</a></li>
								<div class="clearfix"> </div>
						</ul>
							<!-- script-for-nav -->
						<script>
							$( "span.menu" ).click(function() {
							  $( ".head-nav ul" ).slideToggle(300, function() {
								// Animation complete.
							  });
							});
						</script>
					<!-- script-for-nav --> 
				</div>
					<div class="clearfix"> </div>
		</div>

<!-- header -->
@content
@*
<!-- banner -->
<div class="banner">
	<div class="col-md-6 ban-left">	
		<h1>Creative Design Services</h1>
		<div class="b-info">
			<div class="b-left">
				<h6>Here’s some nice work</h6>
			</div>
			<div class="b-right">
				<a class="view" href="portfolio">VIEW PORTFOLIO<i class="arrw"></i></a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="col-md-6 ban-right">
		<img src="@routes.Assets.at("images/1.png")" class="img-responsive" alt="">
	</div>
		<div class="clearfix"> </div>
</div>
<!-- banner -->
<!-- benefts -->
<div class="benefts">
		<div class="col-md-4 benefts-1">
			<h3><i class="arw"></i>about us</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis scelerisque. Praesent eget consequat libero.</p>
			<a class="read" href="#"><i class="arw"></i>READ</a>
		</div>
		<div class="col-md-4 benefts-1">
			<h3><i class="arw"></i>our Benefits</h3>
			<ul>
				<li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa.</p></li>
				<li><p>Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis scelerisque. Praesent eget consequat</p></li>
				<li><p class="nunu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. </p></li>
			</ul>
		</div>
		<div class="col-md-4 billon benefts-1">
			<h3><i class="arw"></i>testimonials</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis scelerisque. </p>
			<h6>Rafi,<a href="#"> Graphicsfuel.com</a></h6>
		</div>
		<div class="clearfix"> </div>
</div>
<!-- benefts -->
<!-- portf -->
	<div class="portf">
		<h3><i class="arw"></i>our portfolio</h3>
		<div class="col-md-3 portf-1">
			<img src="@routes.Assets.at("images/2.jpg")" class="img-responsive" alt="">
			<a class="vew" href="portfolio">VIEW<i class="arws"></i></a>
		</div>
		<div class="col-md-3 portf-1">
			<img src="@routes.Assets.at("images/3.jpg")" class="img-responsive" alt="">
			<a class="vew" href="portfolio">VIEW<i class="arws"></i></a>
		</div>
		<div class="col-md-3 portf-1">
			<img src="@routes.Assets.at("images/4.jpg")" class="img-responsive" alt="">
			<a class="vew" href="portfolio">VIEW<i class="arws"></i></a>
		</div>
		<div class="col-md-3 portf-1">
			<img src="@routes.Assets.at("images/5.jpg")" class="img-responsive" alt="">
			<a class="vew" href="portfolio">VIEW<i class="arws"></i></a>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- portf -->
*@
<!-- bglow -->
	<div class="bglow">
		<div class="col-md-8 bglow-left">
		<h4><i class="arw"></i>我们的目标</h4>
			<p>华夏川博将期待与您携手合作，共同创造天更蓝、草更绿、水更清的环境友好型社会，做出应有的贡献。</p>
		</div>
		<div class="col-md-4 bglow-right">
			<h4><i class="arw"></i>connect with us</h4>
			<ul>
					<li><a href="#"><i class="twt"></i></a></li>
					<li><a href="#"><i class="fb"></i></a></li>
					<li><a href="#"><i class="in"></i></a></li>
					<li><a href="#"><i class="rss"></i></a></li>
						<div class="clearfix"></div>
				</ul>
		</div>
			<div class="clearfix"> </div>
	</div>
</div>
<!-- bglow -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="foot-left">
				<div class="foot-nav">
					<ul>
						<li class="active"><a href="index">主页</a></li>|
						<li><a href="aboutus">关于我们</a></li>|
						<li><a href="services">产品简介</a></li>|
						@*<li><a href="portfolio">portfolio</a></li>|
						<li><a href="404">blog</a></li>|*@
						<li><a href="contactus">联系我们</a></li>
							<div class="clearfix"> </div>
					</ul>
				</div>
				<p>宁夏华夏川博环保科技公司 © 2015</p>
			</div>
			<div class="foot-right">
				<a href="index"><img src="@routes.Assets.at("images/footlogo.png")" class="img-responsive" alt=""></a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- footer -->
</body>
</html>