@* partialproduct4 Template File *@
<h3>特点简介</h3>
<div class="feature">
		<div class="feature-main">
			<h3>复合杀菌剂 HB-301</h3>
			<div class="feature-top">
				<div class="col-md-12 feature-left">
					<h4>一、产品性能</h4>
					<ul>
						<li><a href="#">复合杀菌剂HB-301是一种新型高效季磷盐非氧化型杀菌灭藻剂，产品具有高效、广普、低毒、药效快、渗透力强，使用方便，适用温度、PH值范围宽的显著优点。适用于电厂、化工、炼油、冶金、制药等工业循环冷却水系统作杀菌灭藻和粘泥剥离剂使用。杀菌效果优1227，异噻唑啉酮等传统杀菌灭藻剂。</a></li>
					</ul>
				</div>
				<p></p><br />
				<div class="col-md-12 feature-left">
					<h4>二、技术指标</h4>
					<ul>
						<li><a href="#">外观为无色透明液体</a></li>
						<li><a href="#">有效物含量% > 15</a></li>
						<li><a href="#">季磷盐% > 8</a></li>
						<li><a href="#">PH值（原液）	6-8</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>三、使用方法</h4>
					<ul>
						<li><a href="#">采用冲击或加药，投加量一般为60-100mg/L，即对菌藻类有彻底杀灭效果，藻类较多时如欲获得快速剥离效果，可适量加大药剂用量。</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>四、包装与贮存</h4>
					<ul>
						<li><a href="#">25kg塑料桶包装、常温状况下贮存期十个月。</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>五、安全防护</h4>
					<ul>
						<li><a href="#">复合杀菌剂HB-301，对皮肤无明显刺激，操作时应避免与眼睛接触，接触后应用大量清水冲洗。</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
</div>