@* partialproduct6 Template File *@
<h3>特点简介</h3>
<div class="feature">
		<div class="feature-main">
			<h3>马来酸——丙烯酸共聚物MA/AA</h3>
			<div class="feature-top">
				<div class="col-md-12 feature-left">
					<h4>一、产品性能</h4>
					<ul>
						<li><a href="#">MA/AA是一种低分量的聚电物解质，由马来酸与丙烯酸共聚而成。MA/AA对碳酸盐具有很强的分散作用，热稳定性高，可在300℃高温等条件下使用。与其它水处理药剂具有良好相容性和协同增效作用，并对磷酸盐垢生成具有良好的抑制作用。由于其阻垢性和耐高温性能优异，可广泛用于锅炉、集中供热、中央空调及各类循环冷却水系统中使用。</a></li>
					</ul>
				</div>
				<p></p><br />
				<div class="col-md-12 feature-left">
					<h4>二、技术指标</h4>
					<ul>
						<li><a href="#">外观为棕红色透明液体</a></li>
						<li><a href="#">固含量%  48.0</a></li>
						<li><a href="#">游离单位（以马来酸计）%  9.0</a></li>
						<li><a href="#">密度（20℃）g/cm3 : 1-18</a></li>
						<li><a href="#">PH值1%水溶液	2.0-3.0</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>三、使用方法</h4>
					<ul>
						<li><a href="#">与其它聚羧酸类、有机磷复配使用，用量一般在4-10mg/L。</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>四、包装与贮存</h4>
					<ul>
						<li><a href="#">25kg、200kg塑料桶包装、贮存期十二个月。</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>五、安全防护</h4>
					<ul>
						<li><a href="#">MA/AA为酸性，操作注意劳动保护，应避免与眼睛、皮肤接触，接触后应用大量清水冲洗。</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
</div>