@* partialproduct5 Template File *@
<h3>特点简介</h3>
<div class="feature">
		<div class="feature-main">
			<h3>聚环氧琥珀酸PESA</h3>
			<div class="feature-top">
				<div class="col-md-12 feature-left">
					<h4>一、产品性能</h4>
					<ul>
						<li><a href="#">聚环氧琥珀酸（PESA）是一种无磷、非氮的新型绿色聚羧类阻垢剂。使用中对水中碳酸盐、硫酸盐、硫酸钡、硫酸锶有良好的阻垢分散性能，阻垢效果优于常用的有机磷类阻垢剂。PESA与磷酸盐类复配具有良好的协同增效作用，并具有生物降解性好，适用范围广泛，尤其适应在高碱度、高硬度、高PH值条件的循环冷却水系统中使用，可实现高浓缩倍数状态的水系中运行，是一种新型绿色环保型多元阻垢缓蚀剂。</a></li>
					</ul>
				</div>
				<p></p><br />
				<div class="col-md-12 feature-left">
					<h4>二、技术指标</h4>
					<ul>
						<li><a href="#">外观为无色或淡琥珀色透明液体</a></li>
						<li><a href="#">固含量%  40</a></li>
						<li><a href="#">密度（20℃）g/cm3 : 1.25</a></li>
						<li><a href="#">PH值1%水溶液	9-11.5</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>三、使用方法</h4>
					<ul>
						<li><a href="#">PESA适用油田注水采油，锅炉、中央空调水质处理。</a></li>
						<li><a href="#">PESA适用于电力、冶金、化工、制药等行业的循环冷却水系统。</a></li>
						<li><a href="#">PESA特别适用于高碱度、高硬度、高PH、高浓缩倍数系统的锅炉水处理，反渗透膜等领域。</a></li>
						<li><a href="#">PESA也用于洗涤行业。</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>四、包装与贮存</h4>
					<ul>
						<li><a href="#">25kg、250kg塑料桶包装、贮存室内阴凉处，贮存期一年。</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>五、安全防护</h4>
					<ul>
						<li><a href="#">PESA为碱性，操作注意劳动保护，应避免与眼睛、皮肤接触，接触后应用大量清水冲洗。</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
</div>