@* partialcontactus Template File *@

<!-- header -->
<div class="contact">
		<h2>联系我们</h2>
			@*<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d804957.9606733951!2d144.18148378148675!3d-37.99189855931373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne+VIC%2C+Australia!5e0!3m2!1sen!2sin!4v1427803708869" width="100%" height="450" frameborder="0" style="border:0"></iframe>
			</div>*@
			<div class="col-md-4">
							@*<h3>联络信息</h3>*@
								<div class="address">
									<p>欢迎来电咨询或到访</p> 
									<p>宁夏银川市兴庆区丽景南街891号</p>
									<p>联系电话 : +86 13909573353</p> 
									<p>E-mail : <a href="mailto:info@@hxcb.com">info@@hxcb.com</a></p>
								</div>
						</div>
						<div class="col-md-8 contact-left-text">
						@*<h3>Contact form</h3>
						<form>
							<input type="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
							<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
							<input type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
							<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
							<input type="submit">
						</form>*@
						</div>
						
						<div class="clearfix"> </div>
	</div>
