@* partialindex Template File *@

<!-- banner -->
<div class="banner">
	<div class="col-md-6 ban-left">	
		<h1>新型水处理药剂研发企业</h1>
		<div class="b-info">
			<div class="b-left">
				<h6>欢迎合作</h6>
			</div>
			<div class="b-right">
				<a class="view" href="aboutus">公司介绍<i class="arrw"></i></a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="col-md-6 ban-right">
		<img src="@routes.Assets.at("images/1.png")" class="img-responsive" alt="">
	</div>
		<div class="clearfix"> </div>
</div>
<!-- banner -->
<!-- benefts -->
<div class="benefts">
		<div class="col-md-4 benefts-1">
			<h3><i class="arw"></i>关于我们</h3>
			<p>宁夏华夏川博环保科技公司，是全面致力于新型水处理药剂，研发、生产的科技型企业</p>
			<a class="read" href="#"><i class="arw"></i>READ</a>
		</div>
		<div class="col-md-4 benefts-1">
			<h3><i class="arw"></i>产品优势</h3>
			<ul>
				<li><p>30余种新型绿色高效水处理药剂</p></li>
				<li><p>与传统水处理药剂相比，具有无磷、无铝、低铁高效的独特性能</p></li>
				<li><p class="nunu">提高企业经济效益和社会效益</p></li>
			</ul>
		</div>
		@*<div class="col-md-4 billon benefts-1">
			<h3><i class="arw"></i>荐 言</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis scelerisque. </p>
			<h6>Rafi,<a href="#"> Graphicsfuel.com</a></h6>
		</div>*@
		<div class="clearfix"> </div>
</div>
<!-- benefts -->
<!-- portf -->
	@*<div class="portf">
		<h3><i class="arw"></i>our portfolio</h3>
		<div class="col-md-3 portf-1">
			<img src="@routes.Assets.at("images/2.jpg")" class="img-responsive" alt="">
			<a class="vew" href="portfolio">VIEW<i class="arws"></i></a>
		</div>
		<div class="col-md-3 portf-1">
			<img src="@routes.Assets.at("images/3.jpg")" class="img-responsive" alt="">
			<a class="vew" href="portfolio">VIEW<i class="arws"></i></a>
		</div>
		<div class="col-md-3 portf-1">
			<img src="@routes.Assets.at("images/4.jpg")" class="img-responsive" alt="">
			<a class="vew" href="portfolio">VIEW<i class="arws"></i></a>
		</div>
		<div class="col-md-3 portf-1">
			<img src="@routes.Assets.at("images/5.jpg")" class="img-responsive" alt="">
			<a class="vew" href="portfolio">VIEW<i class="arws"></i></a>
		</div>
		<div class="clearfix"> </div>
	</div>*@
<!-- portf -->