@* partialservices Template File *@

<!--start-services-->
	<div class="services">
			<div class="services-main">
				<h3>产品简介</h3>
				<div class="services-top">
					<div class="col-md-12 services-top-left">
						<div class="services-top-main">
							@*<div class="col-md-6 services-left">
								<img src="@routes.Assets.at("images/7.jpg")" alt="" />
							</div>*@
							<div class="col-md-12 services-left">
								<h4><a href="product1" data-hover="环保型无机高分子絮凝剂HB-101">环保型无机高分子絮凝剂HB-101</a></h4>
								<p>环保型无机高分子絮凝剂HB-101，是华夏川博新开发的一种新型高效绿色水质净化剂，组分中不含铝、铁等对人体有害成份，产品与目前国内使用的传统水处理剂聚合氯化铝、PAC、聚合硫酸铁PFS相比，具有用量少，絮凝速度快，脱色率COD去除率高，絮体大、密实，污泥体积小，含水率低，易压滤、无毒、无害，对环境不产生二级污染的显著特点。产品可广泛用于饮用水、城市污水、各种工业废水的净化处理，是一种新型高效的环境友好型水质净化剂。</p>
							</div>
							@*<div class="clearfix"></div>*@
						</div>
						<div class="services-top-main">
							@*<div class="col-md-6 services-left">
								<img src="@routes.Assets.at("images/11.jpg")" alt="" />
							</div>*@
							<div class="col-md-12 services-left">
								<h4><a href="product1" data-hover="绿色无磷缓蚀阻垢剂HB-201">绿色无磷缓蚀阻垢剂HB-201</a></h4>
								<p>无磷缓蚀阻垢剂HB-201不含磷，使用中对排污水中磷的排放要求严格的地区，可大幅度降低排污处理费用。由于无磷可减少循环水系统中微生物的繁殖，减少了杀菌灭藻剂，粘泥剥离的用量。产品可广泛用电厂、钢厂、化工、制药等行业的循环冷却水系统，对碳钢、铜、不锈钢等材质均有优良缓蚀性能后，缓蚀率＞92%，阻垢率＞95%，是一种性能优良的多元环境友好型水质稳定剂。</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="services-top-main">
							@*<div class="col-md-6 services-left">
								<img src="@routes.Assets.at("images/17.jpg")" alt="" />
							</div>*@
							<div class="col-md-12 services-left">
								<h4><a href="product1" data-hover="反渗透阻垢分散剂HB-2010">反渗透阻垢分散剂HB-2010</a></h4>
								<p>反渗透阻垢剂HB-201是一种低磷高效阻垢剂，适用于反渗透（RO）系统，（NT）钠滤体系统（UF）超滤系统中使用，使用中可有效防止膜面结垢，能提高产水量和产水质量，降低运行成本。不与铁、铝氧化物及硅化合物凝聚形成不溶物。对控制铁、铝及得金属污染物特别有效，进水侧铁离子浓度可达80mg/L。可有效抑制硅的聚合与沉积，浓水侧SIOZ浓度可达300mg/L，可用于反渗透CA及TFC膜，钠滤膜和超滤膜，给水PH5-10范围内使用均有效。</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="services-top-main">
							@*<div class="col-md-6 services-left">
								<img src="@routes.Assets.at("images/12.jpg")" alt="" />
							</div>*@
							<div class="col-md-12 services-left">
								<h4><a href="product1" data-hover="复合杀菌剂HB-301">复合杀菌剂HB-301</a></h4>
								<p>复合杀菌剂HB-301是一种新型高效季磷盐非氧化型杀菌灭藻剂，产品具有高效、广普、低毒、药效快、渗透力强，使用方便，适用温度、PH值范围宽的显著优点。适用于电厂、化工、炼油、冶金、制药等工业循环冷却水系统作杀菌灭藻和粘泥剥离剂使用。杀菌效果优1227，异噻唑啉酮等传统杀菌灭藻剂。</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="services-top-main">
							@*<div class="col-md-6 services-left">
								<img src="@routes.Assets.at("images/17.jpg")" alt="" />
							</div>*@
							<div class="col-md-12 services-left">
								<h4><a href="product1" data-hover="聚环氧琥珀酸PESA">聚环氧琥珀酸PESA</a></h4>
								<p>聚环氧琥珀酸（PESA）是一种无磷、非氮的新型绿色聚羧类阻垢剂。使用中对水中碳酸盐、硫酸盐、硫酸钡、硫酸锶有良好的阻垢分散性能，阻垢效果优于常用的有机磷类阻垢剂。PESA与磷酸盐类复配具有良好的协同增效作用，并具有生物降解性好，适用范围广泛，尤其适应在高碱度、高硬度、高PH值条件的循环冷却水系统中使用，可实现高浓缩倍数状态的水系中运行，是一种新型绿色环保型多元阻垢缓蚀剂。</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="services-top-main">
							@*<div class="col-md-6 services-left">
								<img src="@routes.Assets.at("images/12.jpg")" alt="" />
							</div>*@
							<div class="col-md-12 services-left">
								<h4><a href="product1" data-hover="马来酸--丙烯酸共聚物MA/AA">马来酸--丙烯酸共聚物MA/AA</a></h4>
								<p>MA/AA是一种低分量的聚电物解质，由马来酸与丙烯酸共聚而成。MA/AA对碳酸盐具有很强的分散作用，热稳定性高，可在300℃高温等条件下使用。与其它水处理药剂具有良好相容性和协同增效作用，并对磷酸盐垢生成具有良好的抑制作用。由于其阻垢性和耐高温性能优异，可广泛用于锅炉、集中供热、中央空调及各类循环冷却水系统中使用。</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					@*<div class="col-md-6 services-top-left">
						<div class="services-top-main">
							<div class="col-md-6 services-left">
								<img src="@routes.Assets.at("images/17.jpg")" alt="" />
							</div>
							<div class="col-md-6 services-left">
								<h4>反渗透阻垢分散剂HB-2010</h4>
								<p>反渗透阻垢剂HB-201是一种低磷高效阻垢剂，适用于反渗透（RO）系统，（NT）钠滤体系统（UF）超滤系统中使用，使用中可有效防止膜面结垢，能提高产水量和产水质量，降低运行成本。不与铁、铝氧化物及硅化合物凝聚形成不溶物。对控制铁、铝及得金属污染物特别有效，进水侧铁离子浓度可达80mg/L。可有效抑制硅的聚合与沉积，浓水侧SIOZ浓度可达300mg/L，可用于反渗透CA及TFC膜，钠滤膜和超滤膜，给水PH5-10范围内使用均有效。</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="services-top-main">
							<div class="col-md-6 services-left">
								<img src="@routes.Assets.at("images/12.jpg")" alt="" />
							</div>
							<div class="col-md-6 services-left">
								<h4>HB-301复合杀菌剂</h4>
								<p>复合杀菌剂HB-301是一种新型高效季磷盐非氧化型杀菌灭藻剂，产品具有高效、广普、低毒、药效快、渗透力强，使用方便，适用温度、PH值范围宽的显著优点。适用于电厂、化工、炼油、冶金、制药等工业循环冷却水系统作杀菌灭藻和粘泥剥离剂使用。杀菌效果优1227，异噻唑啉酮等传统杀菌灭藻剂。</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-md-6 services-top-left">
						<div class="services-top-main">
							<div class="col-md-6 services-left">
								<img src="@routes.Assets.at("images/17.jpg")" alt="" />
							</div>
							<div class="col-md-6 services-left">
								<h4>反渗透阻垢分散剂HB-2010</h4>
								<p>反渗透阻垢剂HB-201是一种低磷高效阻垢剂，适用于反渗透（RO）系统，（NT）钠滤体系统（UF）超滤系统中使用，使用中可有效防止膜面结垢，能提高产水量和产水质量，降低运行成本。不与铁、铝氧化物及硅化合物凝聚形成不溶物。对控制铁、铝及得金属污染物特别有效，进水侧铁离子浓度可达80mg/L。可有效抑制硅的聚合与沉积，浓水侧SIOZ浓度可达300mg/L，可用于反渗透CA及TFC膜，钠滤膜和超滤膜，给水PH5-10范围内使用均有效。</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="services-top-main">
							<div class="col-md-6 services-left">
								<img src="@routes.Assets.at("images/12.jpg")" alt="" />
							</div>
							<div class="col-md-6 services-left">
								<h4>HB-301复合杀菌剂</h4>
								<p>复合杀菌剂HB-301是一种新型高效季磷盐非氧化型杀菌灭藻剂，产品具有高效、广普、低毒、药效快、渗透力强，使用方便，适用温度、PH值范围宽的显著优点。适用于电厂、化工、炼油、冶金、制药等工业循环冷却水系统作杀菌灭藻和粘泥剥离剂使用。杀菌效果优1227，异噻唑啉酮等传统杀菌灭藻剂。</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="services-top-main">
							<div class="col-md-6 services-left">
								<img src="@routes.Assets.at("images/17.jpg")" alt="" />
							</div>
							<div class="col-md-6 services-left">
								<h4>聚环氧琥珀酸PESA</h4>
								<p>聚环氧琥珀酸（PESA）是一种无磷、非氮的新型绿色聚羧类阻垢剂。使用中对水中碳酸盐、硫酸盐、硫酸钡、硫酸锶有良好的阻垢分散性能，阻垢效果优于常用的有机磷类阻垢剂。PESA与磷酸盐类复配具有良好的协同增效作用，并具有生物降解性好，适用范围广泛，尤其适应在高碱度、高硬度、高PH值条件的循环冷却水系统中使用，可实现高浓缩倍数状态的水系中运行，是一种新型绿色环保型多元阻垢缓蚀剂。</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="services-top-main">
							<div class="col-md-6 services-left">
								<img src="@routes.Assets.at("images/12.jpg")" alt="" />
							</div>
							<div class="col-md-6 services-left">
								<h4>马来酸--丙烯酸共聚物MA/AA</h4>
								<p>MA/AA是一种低分量的聚电物解质，由马来酸与丙烯酸共聚而成。MA/AA对碳酸盐具有很强的分散作用，热稳定性高，可在300℃高温等条件下使用。与其它水处理药剂具有良好相容性和协同增效作用，并对磷酸盐垢生成具有良好的抑制作用。由于其阻垢性和耐高温性能优异，可广泛用于锅炉、集中供热、中央空调及各类循环冷却水系统中使用。</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>*@
					<div class="clearfix"></div>
				</div>
			</div>
	</div>
	<!--start-services-->
	<!--start-feature-->
	@*<div class="feature">
			<div class="feature-main">
				<h3>Featured Services</h3>
				<div class="feature-top">
					<div class="col-md-4 feature-left">
						<ul>
							<li><a href="#">Suspendisse ullamcorper aliquam justo nec.</a></li>
							<li><a href="#">Donec convallis auctor elit vitae.</a></li>
							<li><a href="#">Cras vulputate vehicula orci vitae facilisis.</a></li>
							<li><a href="#">Nulla eget sodales ante, quis tincidunt.</a></li>
							<li><a href="#">Phasellus elementum scelerisque accumsan</a></li>
							<li><a href="#">Etiam vitae justo a augue lobortis </a></li>
						</ul>
					</div>
					<div class="col-md-4 feature-left">
						<ul>
							<li><a href="#">In maximus at augue in pretium.</a></li>
							<li><a href="#">Class aptent taciti sociosqu ad litora</a></li>
							<li><a href="#">Nulla eget sodales ante, quis tincidunt.</a></li>
							<li><a href="#">Suspendisse consectetur egestas libero</a></li>
						</ul>
					</div>
					<div class="col-md-4 feature-left">
						<ul>
							<li><a href="#">Vestibulum pretium purus sit amet mollis</a></li>
							<li><a href="#">Donec convallis auctor elit vitae.</a></li>
							<li><a href="#">Maecenas metus neque, ornare et condimentum</a></li>
							<li><a href="#">Nulla eget sodales ante, quis tincidunt.</a></li>
							<li><a href="#"> Cras dolor eros, aliquet consequat hendrerit</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
	</div>*@
	<!--end-feature-->



