@* partialaboutus Template File *@

<!--start-about-->
	<div class="about">
			<div class="about-main">
				<h3>关于我们</h3>
				<div class="about-top">
					<div class="col-md-4 about-left">
						<img src="@routes.Assets.at("images/6.jpg")" alt="" />
					</div>
					<div class="col-md-8 about-right">
						@*<h4>宁夏华夏川博环保科技公司简介</h4>*@
						<p>宁夏华夏川博环保科技公司，是全面致力于新型水处理药剂，研发、生产的科技型企业，公司落座于美丽的塞上湖城宁夏银川市，目前公司开发生产的系列产品有：无磷高效缓蚀阻垢剂，无磷反渗透阻垢剂，复合杀菌灭藻剂，低铝无机高分子絮凝剂，聚硅酸类无机高分子絮凝剂，有机高分子絮凝剂等30余种新型绿色高效水处理药剂，产品广泛用于电力、冶金、石油、化工、煤矿、造纸、制药、酿造及城市供水，城市污水等诸多行业的循环水质稳定和水质净化处理，产品与传统水处理药剂相比，具有无磷、无铝、低铁高效的独特性能，在水质处理中，可大幅度减少水质中磷、铝、铁等有害离子超标，造成对人体伤害及对环境二次污染，并大量减少水质的后期处理成本，提高企业经济效益和社会效益。</p>
						<p>华夏川博将期待与您携手合作，共同创造天更蓝、草更绿、水更清的环境友好型社会，做出应有的贡献。</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
	</div>
	<!--end-about-->
	@*<!--start-team-->
	<div class="team">
			<div class="team-main">
				<h3>Our Team</h3>
				<div class="team-top">
					<div class="col-md-3 team-left">
						<img src="@routes.Assets.at("images/team-1.jpg")" alt="" />
						<div class="team-bottom">
							<h4>ALAN SMITH</h4>
							<p>Fusce et nibh eget odio cursus consectetur</p>
						</div>
					</div>
					<div class="col-md-3 team-left">
						<img src="@routes.Assets.at("images/team-3.jpg")" alt="" />
						<div class="team-bottom">
							<h4>CAROL ADAMS</h4>
							<p>Fusce et nibh eget odio cursus consectetur</p>
						</div>
					</div>
					<div class="col-md-3 team-left">
						<img src="@routes.Assets.at("images/team-2.jpg")" alt="" />
						<div class="team-bottom">
							<h4>MARK JOHNSON</h4>
							<p>Fusce et nibh eget odio cursus consectetur</p>
						</div>
					</div>
					<div class="col-md-3 team-left">
						<img src="@routes.Assets.at("images/team-4.jpg")" alt="" />
						<div class="team-bottom">
							<h4>SHARON WRIGHT</h4>
							<p>Fusce et nibh eget odio cursus consectetur</p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

	</div>
	<!--end-team-->
	<!--start-choose-->
	<div class="choose">
			<div class="choose-main">
				<h3>Why Choose Us</h3>
				<div class="choose-top">
					<div class="col-md-4 choose-left">
						<img src="@routes.Assets.at("images/15.jpg")" alt="" />
					</div>
					<div class="col-md-5 choose-right">
						<p>Suspendisse ullamcorper aliquam justo nec dignissim. Vivamus mi ante, volutpat vitae pharetra vitae, semper et odio. Nunc quis facilisis mi. Suspendisse lectus augue, convallis ut elit vitae, placerat ultricies purus. Nam vulputate tincidunt dui.</p>
						<p> Pellentesque a suscipit sem, non blandit dolor. Donec scelerisque est non purus lacinia pharetra. Donec massa dui, dignissim eget purus in, lobortis tempor lorem. Aenean condimentum urna dignissim, malesuada nunc ac, molestie nibh.</p>
					</div>
					<div class="col-md-3 choose-left">
						<ul>
							<li><a href="#">Donec scelerisque est non purus</a></li>
							<li><a href="#">Vivamus mi ante volutpat vitae</a></li>
							<li><a href="#">Pellentesque a suscipit</a></li>
							<li><a href="#">Integer accumsan tempus nunc</a></li>
							<li><a href="#">Aenean condimentum urna</a></li>
							<li><a href="#">Praesent convallis porttitor</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
	</div>
	<!--end-choose-->*@

