@* partialproduct2 Template File *@
@* partialproduct1 Template File *@

<h3>特点简介</h3>
<div class="feature">
		<div class="feature-main">
			<h3>绿色无磷缓蚀阻垢剂HB-201</h3>
			<div class="feature-top">
				<div class="col-md-12 feature-left">
					<h4>一、产品性能</h4>
					<ul>
						<li><a href="#">无磷缓蚀阻垢剂HB-201不含磷，使用中对排污水中磷的排放要求严格的地区，可大幅度降低排污处理费用。由于无磷可减少循环水系统中微生物的繁殖，减少了杀菌灭藻剂，粘泥剥离的用量。产品可广泛用电厂、钢厂、化工、制药等行业的循环冷却水系统，对碳钢、铜、不锈钢等材质均有优良缓蚀性能后，缓蚀率＞92%，阻垢率＞95%，是一种性能优良的多元环境友好型水质稳定剂。</a></li>
					</ul>
				</div>
				<p></p><br />
				<div class="col-md-12 feature-left">
					<h4>二、技术指标</h4>
					<ul>
						<li><a href="#">外观为棕红色透明液体</a></li>
						<li><a href="#">有效物含量% >= 32</a></li>
						<li><a href="#">密度（20℃）g/cm3 : 1.10</a></li>
						<li><a href="#">PH值（原液）	4-6</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>三、使用方法</h4>
					<ul>
						<li><a href="#">将每天所需药剂HB-201加入加药桶内，为方便可加水稀释后通过加药泵或调节阀口将药剂在循环水泵入口处，（即集水池出口处）连续加入循环水系统中，根据不同水质，加药浓度一般为30-80mg/L，以补充水计。</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>四、包装与贮存</h4>
					<ul>
						<li><a href="#">25kg塑料桶包装、贮存于阴凉干燥处，贮存期十个月。</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>五、安全防护</h4>
					<ul>
						<li><a href="#">缓蚀阻垢剂HB-101为弱酸性，操作注意劳动保护，应避免与眼睛、皮肤接触，接触后应用大量清水冲洗。</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
</div>