@* partialproduct1 Template File *@

<h3>产品特点</h3>
<div class="feature">
		<div class="feature-main">
			<h3>环保型无机高分子絮凝剂HB-101</h3>
			<div class="feature-top">
				<div class="col-md-12 feature-left">
					<h4>一、产品性能</h4>
					<ul>
						<li><a href="#">环保型无机高分子絮凝剂HB-101，是华夏川博新开发的一种新型高效绿色水质净化剂，组分中不含铝、铁等对人体有害成份，产品与目前国内使用的传统水处理剂聚合氯化铝、PAC、聚合硫酸铁PFS相比，具有用量少，絮凝速度快，脱色率COD去除率高，絮体大、密实，污泥体积小，含水率低，易压滤、无毒、无害，对环境不产生二级污染的显著特点。产品可广泛用于饮用水、城市污水、各种工业废水的净化处理，是一种新型高效的环境友好型水质净化剂。</a></li>
					</ul>
				</div>
				<p></p><br />
				<div class="col-md-12 feature-left">
					<h4>二、技术指标</h4>
					<ul>
						<li><a href="#">外观为无色透明液体</a></li>
						<li><a href="#">有效物含量% >= 15</a></li>
						<li><a href="#">密度（20℃）g/cm3 : 1.18</a></li>
						<li><a href="#">PH值（原液）	2-3</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>三、使用方法</h4>
					<ul>
						<li><a href="#">将产品显示目录液或用水按1：5稀释后投放污水系统，在污水浓度100-500g/L时，投加量一般在10mg至30mg/L，具体用量可根据情况进行水试后，确定最佳投加量后使用。</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>四、包装与贮存</h4>
					<ul>
						<li><a href="#">1吨塑料桶包装、常温状况下贮存期3个月。</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>五、安全防护</h4>
					<ul>
						<li><a href="#">本产品为酸性液体，对皮肤无明显刺激，操作时应避免与眼睛接触，接触后应用大量清水冲洗。</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
</div>