@* partialproduct3 Template File *@
<h3>特点简介</h3>
<div class="feature">
		<div class="feature-main">
			<h3>反渗透阻垢分散剂HB-2010</h3>
			<div class="feature-top">
				<div class="col-md-12 feature-left">
					<h4>一、产品性能</h4>
					<ul>
						<li><a href="#">反渗透阻垢剂HB-201是一种低磷高效阻垢剂，适用于反渗透（RO）系统，（NT）钠滤体系统（UF）超滤系统中使用，使用中可有效防止膜面结垢，能提高产水量和产水质量，降低运行成本。不与铁、铝氧化物及硅化合物凝聚形成不溶物。对控制铁、铝及得金属污染物特别有效，进水侧铁离子浓度可达80mg/L。可有效抑制硅的聚合与沉积，浓水侧SIOZ浓度可达300mg/L，可用于反渗透CA及TFC膜，钠滤膜和超滤膜，给水PH5-10范围内使用均有效。</a></li>
					</ul>
				</div>
				<p></p><br />
				<div class="col-md-12 feature-left">
					<h4>二、技术指标</h4>
					<ul>
						<li><a href="#">外观为无色透明液体</a></li>
						<li><a href="#">密度（20℃）g/cm3 : 1.05</a></li>
						<li><a href="#">PH值（1%水溶液）	2+-0.6</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>三、使用方法</h4>
					<ul>
						<li><a href="#">反渗透阻垢分散剂HB-2010，加药量是根据水质全分析报告及反渗透系统情况计量确定。一般加药量为3-5mg/L，在推的剂量范围内，可控制绝大多数以下类型的结垢，如：碳酸钙、硫酸钙、硫酸钡、硫酸锶、氢氧化铁、氢氧化铝及硅。</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>四、包装与贮存</h4>
					<ul>
						<li><a href="#">25kg塑料桶包装、贮存于阴凉干燥处，贮存期十个月。</a></li>
					</ul>
				</div>
				<br />
				<div class="col-md-12 feature-left">
					<h4>五、安全防护</h4>
					<ul>
						<li><a href="#">反渗透阻垢剂HB-201为弱酸性，操作注意劳动保护，应避免与眼睛、皮肤接触，接触后应用大量清水冲洗。</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
</div>